*~
*.pyc
*.pyo
__pycache__/
/project.yaml
/docker-compose.yaml
/docker-compose-build.yaml
/docker-compose-dev.yaml
/geoportal/alembic.yaml
/testdb/11-schemas.sql
/testdb/12-alembic.sql
/testdb/13-alembic-static.sql
/mapcache/
/tilegeneration/config.yaml.tmpl
/tilegeneration/config.yaml.mako
/print/print-apps/mypackage/config.yaml.mako
/mapserver/mapserver.map.tmpl
/mapserver/*.map.tmpl
/mapserver/tinyows.xml.mako
/mapserver/tinyows.xml.tmpl
/qgisserver/geomapfish.yaml
/geoportal/jsbuild/app.cfg
/geoportal/Dockerfile
/geoportal/development.ini
/geoportal/production.ini
/geoportal/config.yaml
/geoportal/mypackage_geoportal.egg-info
/geoportal/mypackage_geoportal/static/lib/cgxp/
/geoportal/mypackage_geoportal/locale/*/LC_MESSAGES/*.mo
/geoportal/mypackage_geoportal/locale/mypackage_geoportal-*.pot
/geoportal/mypackage_geoportal/static-ngeo/build/
/geoportal/mypackage_geoportal/static-ngeo/js/apps/desktop.html
/geoportal/mypackage_geoportal/static-ngeo/js/apps/mobile.html
/geoportal/mypackage_geoportal/static-ngeo/fonts/gmf-icons.*
/geoportal/mypackage_geoportal/static-ngeo/fonts/fontawesome-webfont.*
/geoportal/mypackage_geoportal/static/build/
/geoportal/node_modules
/geoportal/webpack.apps.js
/vars_alembic.yaml
/.upgrade.yaml
